/* START REPORT STYLES */

.report-header {
    height: 100px;
    background-color: yellow;
    padding-bottom: 10px;
}

.report-footer {
    height: 50px;
    background-color: green;
    padding-top: 10px;
    
}


.erp-report-table {
    width: 100%;
    border-collapse: collapse;
}

.erp-report-table, th, td {
    border: 1px solid black;
}

    .erp-report-table td {
        font-size: 8px;
        color: black;
    }

    .erp-report-table th {
        font-size: 8px;
        font-weight: bold;
        color: black;
    }

/* END REPORT STYLES */
