
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">RESET PASSWORD</div>

        @if (ViewBag.EMsg != null)
        {
        <div class="alert alert-danger">@ViewBag.EMsg</div>
        }
        @if (ViewBag.SMsg != null)
        {
        <div class="alert alert-success">@ViewBag.SMsg</div>
        }

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-inline" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-group">
                <label for="UserName" class="label">User Name</label>
                <div class="col-6">

                    <input type="text" class="form-control" name="UserName" placeholder="User Name" />

                </div>
                <input type="submit" value="Reset Password" class="col-4 btn btn-lg btn-primary" />
            </div>
        }
    </div>
</div>

