@using KDM.Models
@model MemberRegistrationViewModel
@{
    ViewBag.Title = "ShowPlacementId";
}

<div id="div3" style="padding-top:2%;">
    <h4 style="text-align:center;">Placement Id: @Model.PlacementID</h4>
    <h4 style="text-align:center;">Distributor Name: @Model.DistributorName</h4>
</div>

<div class="position-relative form-group" style="width:10%;margin-left:45%; padding-top:2%;">
    <a href="javascript:printDiv('div3')"><input type="button" value="Print" id="print" class="btn btn-success btn-lg btn-block" /></a>
</div>
<iframe name="print_frame" width="0" height="0" frameborder="0" src="about:blank"></iframe>


@section script
{
    <script>function printDiv(divId) {
            window.frames["print_frame"].document.body.innerHTML = document.getElementById(divId).innerHTML;
            window.frames["print_frame"].window.focus();
            window.frames["print_frame"].window.print();
        }</script>
}
